
.chat
  .chat__left
    .chat__left__user
      %h5
        うさまる。
      .chat__left__user__actions
        = link_to '', new_group_path, class: "fa fa-edit icon-edit"
        = link_to '', edit_user_registration_path(current_user), class: "fa fa-cog icon-cog"
    .chat__left__group
      .chat__left__group__name
        るるるー
      .chat__left__group__message
        わわわー
  .chat__main
    .chat__main__header
      %h2
        あめあめー
      .chat__main__header__right
        = link_to 'Edit', edit_group_path(current_user), class: "editbutton"
      %p
        ふれふれー
    .chat__main__body
      %ul.chat__main__body__messages
        %li.chat__main__body__messages__message
          .chat__main__body__messages__message__header
            %p.chat__main__body__messages__message__header__name
              usausa
            %p.chat__main__body__messages__message__header__date
              2016/11/18
          %p.chat__main__body__messages__message__body
            text

    .chat__main__footer
      .chat__main__footer__form
        .chat__mail__footer__form__body
          %form{ action: "#", method: "post"}
            %textarea{ placeholder: "type a massage" , rows: "1", id: "message-body"}
            %label.chat__main__footer__form__body__label
              %i.fa.fa-photo.icon-photo
          %input{ type: "submit", value: "Send"}/
