.chat__left__group
  - group_name.each do |group| 
    = link_to(group, class: 'chat__left__group__section') do 
      .chat__left__group__section__name
        = group.group_name
      .chat__left__group__section__message
        = group.group_name
