.flash-alert{
  height: 29px;
  width: 100vw;
  text-align: center;
  letter-spacing: 6px;
  background-color: #d65f4c;
  color:white;
  font-size: 15px;
  line-height: 28px;
}
 
.flash-notice{
  height: 29px;
  width: 100vw;
  text-align: center;
  background-color: #38AEF0;
  color:white;
  font-size: 15px;
  letter-spacing: 6px;
  line-height: 28px;
}
